<h2>Show Message</h2>

<ul>
  <li>
    <strong>Title:</strong>
    <%= @message.title %>
  </li>
  <li>
    <strong>Desc:</strong>
    <%= @message.desc %>
  </li>
</ul>

<%= if @message.user==@current_user do %>
  <span><%= link "Delete", to: message_path(@conn, :delete, @message), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
<% end %>
<span><%= link "Back", to: message_path(@conn, :index) %></span>
