<h3>Personal Page</h3>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<%= if @user==@current_user do %>
  <span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<% end %>
<span><%= link "Back", to: message_path(@conn, :index) %></span>

<%= for message <- @messages do %>
  <%= render MicroblogWeb.MessageView, "index.html", assigns %>
<% end %>
